@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#F4F0FF, #DACDFF);
}

.chatbot-popup {
  width: 420px;
  overflow: hidden;
  overflow: hidden;
  background: #FFF;
  border-radius: 15px;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0),
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6D4FC2;
}

.chat-header .header-info {
  display: flex;
  gap: 100px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6D4FC2;
  background: #FFF;
  border-radius: 50%;
}